<label for="employeeCountMin" class="form-label">
	Employee Count (Min)
</label>
<input
	type="number"
	class="form-control"
	name="employeeCountMin"
	id="employeeCountMin"
	value="<%= query.employeeCountMin %>"
>

<label for="employeeCountMax" class="form-label">
	Employee Count (Max)
</label>
<input
	type="number"
	class="form-control"
	name="employeeCountMax"
	id="employeeCountMax"
	value="<%= query.employeeCountMax %>"
>
