<h1>Home page</h1>

<% if(user) { %> 
    <p>Welcome <%- user.email %> (<%- user._id %>)</p>
<% } else { %>
    <p>Welcome on our page. This is a company browser.</p>
    <p>Create account to add your own company!</p>
<% } %>
